html {
  font-size: 62.5%; }

body {
  color: #222222;
  font-size: 1.4rem;
  position: relative;
  /* max-width: 192.0rem; */
  margin: 0 auto; }

* {
  box-sizing: border-box;
  border: 0.1rem solid #a2a1bf; }

figure {
  padding: 0;
  margin: 0; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: block; }

input {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: black; }

h1, h2, h3, p, blockquote {
  margin: 0; }

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/
.overlay {
  background-color: #f7941d;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.35; }

.page-title {
  font-family: 'Raleway';
  text-align: center;
  text-transform: uppercase; }
  .page-title p {
    display: inline-block;
    background-color: #f7941d;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500; }
  .page-title h2 {
    font-size: 2.5rem;
    color: #23282f; }

button {
  padding: 1.5rem 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Karla';
  font-weight: 700;
  background-color: #f7941d;
  border-radius: 0.35rem; }
  button:hover {
    background-color: #29c2e1; }

/*-------------------------------
------------ HEADER -------------
-------------------------------*/
