@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/Karla-regular.woff2") format("woff2"), url("../fonts/Karla/Karla-regular.woff") format("woff"), url("../fonts/Karla/Karla-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/Karla-bold.woff2") format("woff2"), url("../fonts/Karla/Karla-bold.woff") format("woff"), url("../fonts/Karla/Karla-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-regular.woff2") format("woff2"), url("../fonts/Lora/Lora-regular.woff") format("woff"), url("../fonts/Lora/Lora-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-regular.woff") format("woff"), url("../fonts/Raleway/Raleway-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-medium.woff2") format("woff2"), url("../fonts/Raleway/Raleway-medium.woff") format("woff"), url("../fonts/Raleway/Raleway-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-extrabold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-extrabold.woff") format("woff"), url("../fonts/Raleway/Raleway-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/RobotoSlab-regular.woff2") format("woff2"), url("../fonts/RobotoSlab/RobotoSlab-regular.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  color: #222222;
  font-size: 1.4rem;
  position: relative;
  /* max-width: 192.0rem; */
  margin: 0 auto; }

* {
  box-sizing: border-box; }

figure {
  padding: 0;
  margin: 0; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0; }

input {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: black; }

h1, h2, h3, p {
  margin: 0; }

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/
.row {
  max-width: 1170px; }

.overlay {
  background-color: #f7941d;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.35; }

.page-title {
  font-family: 'Raleway';
  text-align: center;
  text-transform: uppercase; }
  .page-title p {
    display: inline-block;
    background-color: #f7941d;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500; }
  .page-title h2 {
    font-size: 2.5rem;
    color: #23282f; }

button {
  padding: 1.5rem 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Karla';
  font-weight: 700;
  background-color: #f7941d;
  border-radius: 0.35rem; }
  button:hover {
    background-color: #29c2e1; }

/*-------------------------------
------------ HEADER -------------
-------------------------------*/
header {
  font-family: "Karla"; }
  header .top-bar {
    padding: 1.2rem 0;
    background-color: #1f2629;
    text-align: right;
    font-size: 1.6rem;
    color: #bac7cd; }
    header .top-bar .phone {
      color: #7b8990; }
  header .navigate {
    padding: 2.4rem 0; }
  header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    text-transform: uppercase;
    font-size: 1.45rem; }
    header .menu a {
      color: #93a1a7; }
      header .menu a.selected {
        color: #23282f; }

/*-------------------------------
------------ HOME ---------------
-------------------------------*/
.home {
  padding-top: 28rem;
  padding-bottom: 3.2rem;
  background-color: #8d8d8d;
  background-size: cover;
  position: relative;
  height: 100%;
  background-image: url(../images/home_background.jpeg);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway';
  color: #ffffff; }
  .home .slogan {
    position: relative; }
    .home .slogan p {
      font-size: 2.4rem; }
    .home .slogan h1 {
      font-size: 6rem;
      font-weight: 800;
      line-height: 2; }
  .home__button {
    margin-top: 2.2rem;
    margin-bottom: 18rem; }
  .home .subscribe {
    border-radius: 0.35rem;
    background-color: rgba(13, 14, 18, 0.6);
    position: relative;
    padding: 2.3rem 0; }
    .home .subscribe:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0.4rem;
      height: 3.4rem;
      background-color: #f7941d; }
    .home .subscribe p {
      padding-left: 4rem;
      padding-right: 5.5rem;
      position: relative;
      height: 4.4rem;
      font-weight: 800;
      color: #e6eef2;
      font-size: 2.2rem;
      text-align: left;
      line-height: 1; }
      .home .subscribe p:before {
        content: 'SIGNUP';
        display: inline-block;
        padding: 0.15rem 0.3rem;
        background-color: #f7941d;
        font-size: 1.2rem;
        font-weight: 500; }
      .home .subscribe p:after {
        content: ":";
        position: absolute;
        right: 4rem;
        top: 1.6rem;
        font-family: 'Karla';
        font-weight: 700;
        font-size: 1.8rem; }
    .home .subscribe .form {
      display: flex;
      padding: 0;
      padding-right: 2.3rem; }
      .home .subscribe .form input[type="text"] {
        border-radius: 0.35rem;
        flex-grow: 2;
        margin-right: 1rem;
        padding-left: 2rem; }
        .home .subscribe .form input[type="text"]::placeholder {
          text-transform: uppercase;
          font-family: 'Karla';
          font-size: 1.3rem;
          color: #55595f; }
      .home .subscribe .form button {
        flex-grow: 0.3; }

/*-------------------------------
---------- ABOUT US -------------
-------------------------------*/
.about-us {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #fff;
  background-size: cover;
  position: relative;
  height: 100%; }
  .about-us .page-title {
    padding-bottom: 4.5rem; }
  .about-us .photo {
    background-image: linear-gradient(to left, #e5eef0, #e5eef0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96% 80%; }
  .about-us .img-wrap {
    margin: 0 auto;
    width: 47.5rem;
    height: 30.8rem;
    overflow: hidden; }
    .about-us .img-wrap img {
      max-width: 100%; }
  .about-us article {
    padding-top: 3.5rem;
    padding-left: 4.5rem;
    padding-right: 2rem; }
    .about-us article .content {
      padding-bottom: 4.5rem;
      font-family: 'OpenSans';
      color: #55595f;
      line-height: 2.4rem; }

/*-------------------------------
---------- SERVICES -------------
-------------------------------*/
.services {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-color: #e5eef0;
  background-size: cover;
  position: relative;
  height: 100%; }
  .services .page-title {
    padding-bottom: 4.5rem; }
  .services .icon {
    width: 6.8rem;
    height: 6.8rem;
    border: 0.1rem solid #23282f;
    background-repeat: no-repeat;
    background-position: center; }
    .services .icon.selected {
      background-color: #29c2e1;
      border-color: #29c2e1; }
    .services .icon.data-entry {
      background-image: url(../images/services/data_entry.png); }
    .services .icon.client-management {
      background-image: url(../images/services/client_management.png); }
    .services .icon.better-communication {
      background-image: url(../images/services/better_communication.png); }
    .services .icon.well-analyzing {
      background-image: url(../images/services/well_analyzing.png); }
    .services .icon.hour-support {
      background-image: url(../images/services/hour_support.png); }
    .services .icon.keeping-data {
      background-image: url(../images/services/keeping_data.png); }
  .services .item {
    font-family: 'OpenSans';
    color: #55595f;
    line-height: 2.4rem;
    padding-bottom: 5rem; }
    .services .item p {
      padding-bottom: 0.5rem;
      color: #23282f;
      font-family: 'Raleway';
      font-size: 2rem;
      font-weight: 500; }

/*-------------------------------
---------- CLIENTS --------------
-------------------------------*/
.clients {
  padding-top: 10rem;
  padding-bottom: 10.5rem;
  background-color: #f7941d;
  background-size: cover;
  position: relative;
  height: 100%; }
  .clients .page-title {
    padding-bottom: 1.5rem; }
    .clients .page-title p {
      background-color: #23282f; }
  .clients .quote {
    margin: 0 auto;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 2.4rem;
    border: 0.2rem solid #ffffff;
    background: url(../images/quote_white.png);
    background-repeat: no-repeat;
    background-position: center; }
  .clients blockquote {
    margin: 0;
    padding: 1.5rem 6rem;
    text-align: center;
    font-family: 'Lora';
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #23282f;
    position: relative; }
    .clients blockquote:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 1.7rem;
      height: 1.7rem;
      background-image: url(../images/quote_open.png);
      background-repeat: no-repeat; }
    .clients blockquote:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1.7rem;
      height: 1.7rem;
      background-image: url(../images/quote_close.png);
      background-repeat: no-repeat; }
  .clients cite {
    display: block;
    padding: 2rem 0;
    font-style: normal;
    font-family: 'Karla';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    .clients cite span {
      display: block;
      font-weight: 400; }
  .clients .other-clients {
    padding: 0; }
  .clients .flex {
    display: flex;
    justify-content: center;
    margin-bottom: -1rem; }
  .clients .photo {
    padding: 0;
    width: 5.5rem;
    height: 6.3rem;
    margin: 0 0.4rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
    .clients .photo img {
      max-width: 150%;
      margin-left: -17%;
      margin-top: -10%; }

/*-------------------------------
---------- PRICING --------------
-------------------------------*/
.pricing {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #fff;
  background-size: cover;
  position: relative;
  height: 100%; }
  .pricing .page-title {
    padding-bottom: 5rem; }
  .pricing .price-card {
    position: relative;
    z-index: 12;
    background-color: #ffffff;
    height: 39.4rem;
    font-family: 'Raleway';
    text-align: center;
    border: 0.1rem solid #e6edee; }
    .pricing .price-card.recommend {
      box-shadow: 0.3rem 0.4rem 25rem 0 rgba(228, 233, 237, 0.75);
      z-index: 11; }
      .pricing .price-card.recommend:before {
        content: '';
        display: block;
        position: absolute;
        width: 9.4rem;
        height: 9.4rem;
        background-image: url(../images/recommend.png);
        background-repeat: no-repeat; }
    .pricing .price-card h3 {
      display: inline-block;
      padding-top: 3.5rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
      font-size: 2rem;
      color: #23282f;
      position: relative; }
      .pricing .price-card h3:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.1rem;
        height: 0.1rem;
        width: 3.8rem;
        background-color: #f7941d; }
    .pricing .price-card .cost {
      padding: 1.8rem 0;
      font-size: 1.8rem;
      font-weight: 500;
      color: #65686e;
      border-top: 0.1rem solid #e6edee;
      border-bottom: 0.1rem solid #e6edee; }
      .pricing .price-card .cost span {
        color: #f7941d; }
    .pricing .price-card .description {
      padding: 0 1.5rem;
      font-family: 'OpenSans';
      font-size: 1.5rem;
      color: #55595f;
      line-height: 3.6rem;
      list-style: none; }
  .pricing button {
    position: relative;
    z-index: 13;
    display: block;
    margin: auto;
    margin-top: -2.5rem; }
    .pricing button.recommend {
      background-color: #29c2e1; }

/*-------------------------------
------------- TEAM --------------
-------------------------------*/
.team {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #e5eef0;
  background-size: cover;
  position: relative;
  height: 100%; }
  .team .page-title {
    padding-bottom: 7rem; }
  .team .team-card {
    position: relative;
    z-index: 12;
    background-color: #ffffff; }
    .team .team-card:hover {
      box-shadow: 0.3rem 0.4rem 6.5rem 0 rgba(204, 222, 226, 0.75);
      z-index: 11;
      background-color: #29c2e1; }
      .team .team-card:hover p {
        color: #23282f; }
      .team .team-card:hover .social-media a {
        background-image: url(../images/social_media_white.png); }
    .team .team-card .caption {
      padding: 2.6rem;
      padding-bottom: 3.2rem;
      font-family: 'Karla'; }
    .team .team-card h3 {
      font-weight: 400;
      text-transform: uppercase;
      color: #23282f; }
    .team .team-card p {
      color: #f7941d; }
    .team .team-card .photo {
      max-height: 27.6rem;
      overflow: hidden; }
      .team .team-card .photo img {
        max-width: 110%; }
    .team .team-card .social-media {
      padding-top: 1.2rem; }
      .team .team-card .social-media a {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        background-repeat: no-repeat;
        background-image: url(../images/social_media_gray.png); }
        .team .team-card .social-media a.facebook {
          background-position: 0.5rem 0; }
        .team .team-card .social-media a.twitter {
          background-position: -1.7rem 0; }
        .team .team-card .social-media a.google {
          background-position: -4.5rem 0; }

/*-------------------------------
------------ BLOG ---------------
-------------------------------*/
.blog {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #fff;
  background-size: cover;
  position: relative;
  height: 100%; }
  .blog .page-title {
    padding-bottom: 3rem; }
  .blog .post-image {
    position: relative;
    max-height: 39.5rem;
    overflow: hidden; }
    .blog .post-image img {
      max-width: 100%;
      margin-top: -20%; }
    .blog .post-image .date {
      position: absolute;
      width: 8.4rem;
      height: 8.4rem;
      top: 0;
      background-color: #29c2e1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Raleway';
      color: #ffffff;
      line-height: 1.1; }
      .blog .post-image .date .day {
        font-size: 3.6rem;
        font-weight: 800; }
      .blog .post-image .date .month {
        text-transform: uppercase;
        font-weight: 500; }
  .blog .header {
    padding-top: 3.6rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center; }
    .blog .header h3 {
      margin-right: auto;
      font-family: 'Raleway';
      font-size: 2rem;
      font-weight: 500;
      color: #23282f;
      padding-bottom: 1rem;
      position: relative; }
      .blog .header h3:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 0.1rem;
        width: 3.8rem;
        background-color: #f7941d; }
    .blog .header .info {
      font-family: 'Karla';
      text-transform: uppercase;
      color: #59686c; }
      .blog .header .info a {
        padding-left: 2.5rem;
        background-position: 10% center;
        background-repeat: no-repeat; }
        .blog .header .info a.author {
          background-image: url(../images/blog/admin.png); }
        .blog .header .info a.comment {
          background-image: url(../images/blog/comment.png); }
  .blog .text {
    font-family: 'OpenSans';
    color: #55595f;
    line-height: 2.4rem;
    padding-bottom: 4.6rem; }

/*-------------------------------
------------ FOOTER -------------
-------------------------------*/
footer {
  padding-top: 7rem;
  padding-bottom: 6rem;
  background-color: #1f2629;
  background-size: cover;
  position: relative;
  height: 100%;
  font-family: 'Karla';
  text-transform: uppercase;
  color: #93a1a7; }
  footer .logo {
    padding-top: 2.5rem; }
  footer h3 {
    font-family: 'RobotoSlab';
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff; }
  footer .menu ul {
    list-style-type: none;
    line-height: 3.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0; }
  footer .menu a {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url(../images/social_media_white.png); }
    footer .menu a.facebook {
      background-position: 0.5rem 0; }
    footer .menu a.twitter {
      background-position: -1.7rem 0; }
    footer .menu a.google {
      background-position: -4.5rem 0; }
    footer .menu a:nth-child(2) {
      margin: 0 0.3rem; }
  footer .contact {
    padding-right: 3.5rem; }
    footer .contact dl {
      margin-top: 0.7rem;
      margin-bottom: 0; }
    footer .contact dt, footer .contact dd {
      display: inline;
      line-height: 3.75rem; }
    footer .contact dt {
      color: #ffffff; }
    footer .contact dd {
      margin: 0; }
      footer .contact dd:after {
        content: "\A";
        white-space: pre; }
  footer .subscribe {
    padding-top: 4.3rem; }
    footer .subscribe form {
      display: flex;
      padding-top: 1.8rem; }
      footer .subscribe form input[type=text] {
        color: #ffffff;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border: 0.1rem solid #384145;
        background-color: transparent; }
        footer .subscribe form input[type=text]::placeholder {
          color: #93a1a7;
          text-transform: uppercase;
          font-size: 1.2rem; }
      footer .subscribe form input[type=button] {
        padding: 0 1rem;
        color: #ffffff;
        font-size: 1.5rem;
        font-family: 'RobotoSlab';
        text-transform: uppercase;
        background-color: #f7941d; }
  footer .copyright {
    text-align: center;
    padding-top: 2rem;
    margin-top: 7rem;
    border-top: 0.1rem solid #384145; }
