@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/Karla-regular.woff2") format("woff2"), url("../fonts/Karla/Karla-regular.woff") format("woff"), url("../fonts/Karla/Karla-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/Karla-bold.woff2") format("woff2"), url("../fonts/Karla/Karla-bold.woff") format("woff"), url("../fonts/Karla/Karla-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/Lora-regular.woff2") format("woff2"), url("../fonts/Lora/Lora-regular.woff") format("woff"), url("../fonts/Lora/Lora-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-regular.woff") format("woff"), url("../fonts/Raleway/Raleway-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-medium.woff2") format("woff2"), url("../fonts/Raleway/Raleway-medium.woff") format("woff"), url("../fonts/Raleway/Raleway-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-extrabold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-extrabold.woff") format("woff"), url("../fonts/Raleway/Raleway-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/RobotoSlab-regular.woff2") format("woff2"), url("../fonts/RobotoSlab/RobotoSlab-regular.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  color: #222222;
  font-size: 1.4rem;
  position: relative;
  /* max-width: 192.0rem; */
  margin: 0 auto; }

* {
  box-sizing: border-box; }

figure {
  padding: 0;
  margin: 0; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0; }

input {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: black; }

h1, h2, h3, p {
  margin: 0; }

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/
.overlay {
  background-color: #f7941d;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.35; }

.page-title {
  font-family: 'Raleway';
  text-align: center;
  text-transform: uppercase; }
  .page-title p {
    display: inline-block;
    background-color: #f7941d;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500; }
  .page-title h2 {
    font-size: 2.5rem;
    color: #23282f; }

button {
  padding: 1.5rem 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Karla';
  font-weight: 700;
  background-color: #f7941d;
  border-radius: 0.35rem; }
  button:hover {
    background-color: #29c2e1; }

/*-------------------------------
------------ HEADER -------------
-------------------------------*/
