!!! 5
%html{lang: "en"}
    %head
        %meta{charset: "UTF-8"}
        %meta{content: "wclassth: device-wclassth, initial-scale: 1.0"}
        %meta{http-equiv: "X-UA-Compatible", content: "ie=edge"}
        %title Mache Site
        %link{href: "bower_components/bootstrap/dist/css/bootstrap-grid.css", rel: "stylesheet"}
        %link{href: "css/style.css", rel: "stylesheet"}
    %body
        %header.container
            .row{class: "d-flex"}
                .logo{class: "col-sm-2"}
                    %img{src: ""} Logo
                %nav.menu{class: "col-sm-5 ml-auto d-flex justify-content-between"}
                    %a{href: "#", class: "selcted"} Home
                    %a{href: "#"} About Us
                    %a{href: "#"} Our Service Us
                    %a{href: "#"} Prices
                    %a{href: "#"} Contact
        %main
            %section.home
                .container
                    .row{class: "d-flex justify-content-center"}
                        %article{class: "col-sm-10"}
                            %h1 Mache free spd template
                            %p Elegant and clean PSD template, which you can download and use for free! You can easily modify the design to make it your own and help you get your project running faster.
                            %button Show More
            %section.about
                .container
                    .row
                        %article{class: "col-sm-5"}
                            %h2 Powerfull PSD template available  for free!
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            %a{href: "#"} See the Video
            %section.services
                .container
                    .row{class: "d-flex justify-content-center"}
                        %article{class: "col-sm-8"}
                            %h2 Our Services
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    .row{class: "no-gutters"}
                        .service-item{class: "col-sm-1 offset-1"}
                            .icon.editable icon
                            %p Full editable
                        .service-item{class: "col-sm-1 offset-2"}
                            .icon.free icon
                            %p Free download
                        .service-item{class: "col-sm-1 offset-2"}
                            .icon.design icon
                            %p Modern design
                        .service-item{class: "col-sm-1 offset-2"}
                            .icon.responsive icon
                            %p 100% responsive
            %section.quotes
                .container
                    .row{class: "no-gutters"}
                        %button{class: "col-sm-1"} <
                        %blockquote{class: "col-sm-8 offset-1"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, std do eiusmod tempor incididunt ut labore tet dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. 
                        %button{class: "col-sm-1 offset-1"}  >
            %section.prices
                .container
                    .row{class: "d-flex justify-content-center"}
                        %article{class: "col-sm-8"}
                            %h2 Check Our Prices
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    .row
                        .price-item{class: "col-sm-3"}
                            .cost $ <span>19</span> per month
                            .rate Standard
                            %ul
                                %li 5 Projects
                                %li 200 MB Storage
                                %li Notification setting
                                %li Password protection
                            %button Buy now
                        .price-item{class: "col-sm-3"}
                            .cost{class: "special"} $ <span>39</span> per month 
                            .rate Business
                            %ul
                                %li 15 Projects
                                %li 1 GB Storage
                                %li Notification setting
                                %li Password protection
                            %button Buy now
                        .price-item{class: "col-sm-3"}
                            .cost $ <span>59</span> per month
                            .rate Premium
                            %ul
                                %li 30 Projects
                                %li 2 GB Storage
                                %li Notification setting
                                %li Password protection
                            %button Buy now
                        .price-item{class: "col-sm-3"}
                            .cost $ <span>99</span> per month
                            .rate Unlimited
                            %ul
                                %li Unlimited Projects
                                %li Unlimited Storage
                                %li Notification setting
                                %li Password protection
                            %button Buy now
            %section.aditional-info
                .container
                    .row
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.resolution icon
                            .description 
                                %h3 High resolution
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.photography icon
                            .description 
                                %h3 Photography
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.customize icon
                            .description 
                                %h3 Easy to customize
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    .row
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.support icon
                            .description 
                                %h3 24/7 support
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.theme icon
                            .description 
                                %h3 Powerfull theme
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        .info-item{class: "col-sm-4 d-flex"}
                            .icon.optimization icon
                            .description 
                                %h3 Seo optimization
                                %p Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            %section.banner
                .container
                    .row
                        %p Became A Part Of Mache Community Today
                        %button.white{class: "ml-auto"} Join us
            %section.news
                .container
                    .row{class: "d-flex justify-content-center"}
                        %article{class: "col-sm-8"}
                            %h2 Our Latest Update
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    .row
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                    .row
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                        .news-item{class: "col-sm-4"}
                            .photo
                                %img image
                            %h3 Lorem ipsuma dolor sit
                            %p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
                    .row{class:"justify-content-center"}
                        %a{href: "#"} Show more 
            %section.aditional-info-2
                .container
                    .row{class: "d-flex justify-content-center"}
                        %article{class: "col-sm-8"}
                            %h2 Our Latest Update
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                            %button Show More
            %section.download
                .container
                    .row{class: "d-flex justify-content-end"}
                        %article{class: "col-sm-6"}
                            %h2 Our Latest Update
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                            %button Show More
        %footer
            .container
                .row
                    %p © 2015 COPYRIGHT MACHE TEMPLATE
                    %p{class: "ml-auto"} Design by symu.co

        %script{src: "bower_components/jquery/dist/jquery.js"}<
        %script{src: "bower_components/bootstrap/dist/js/bootstrap.bundle.js"}<


