html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato';
    color: #222222;
    font-size: 1.4rem;

    position: relative;
    /* max-width: 192.0rem; */
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    border: 0.1rem solid #a2a1bf; 
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    display: block;
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3, p, blockquote{
    margin: 0;
}

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay{
    background-color: #f7941d;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.35;
}

.page-title{
    font-family: 'Raleway';
    text-align: center;
    text-transform: uppercase;
    
    p{
        display: inline-block;
        background-color: #f7941d;
        padding:0 0.5rem; 

        font-size: 1.3rem;
        color: #ffffff;
        font-weight: $font-weight-medium;
    }

    h2{
        font-size: 2.5rem;
        color: #23282f;
    }
}

main{
    margin-top: -7rem;
}

button{
    padding: 1.8rem 3rem;
    min-width: 20rem;

    color: #ffffff;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    background-color: $color-pink;

    border-radius: $big-border-radius;
}

/*-------------------------------
------------ HEADER -------------
-------------------------------*/

header{
    position: relative;
    z-index: 999;

    margin-top: 4rem;

    a{
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        color: $color-white;

        &.selected{
            color: $color-pink;
        }
    }

}

/*-------------------------------
------------- HOME --------------
-------------------------------*/

.home{
    @include base-markup-for-pages(28rem, 23rem);
    background-image: url(../images/background.png);

    text-align: center;

    h1{
        text-transform: uppercase;
        font-size: 4.6rem;
        font-weight: $font-weight-light;

        color: $color-white;

        &:after{
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 4rem;

            width: 20rem;
            height: 0.2rem;
            background-color: $color-pink;
        }

        b{
            font-weight: $font-weight-black;
        }

    }

    p{
        color: $color-white;
        font-size: 2.2rem;
        font-weight: $font-weight-light;

        line-height: 3.8rem;

        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    button{
        margin: 0 auto;
    }
}

/*-------------------------------
----------- SERVICES ------------
-------------------------------*/

.services{
    
}
